# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Rider
.idea/

# VS Code
.vscode/

# Test results
TestResults/